<div class="signup-navbar d-flex align-items-center justify-content-between bg-primary bg-gradient">
    <%= link_to "Back", "javascript:history.back()", class: "sign-out-btn text-white text-decoration-none" %>
    <h2 class="signup-nav-title text-white text-sm">REGISTER</h2>
    <div class="actions">
        <%= f.submit "Sign up", class: "signup-nav-signup-btn" %>
    </div>
</div>
