

<div class="container d-flex flex-column justify-content-center align-items-center" style="height: 90vh">
<h1 class="title">Cash Crafter</h1>
</div>

<div class="fixed-bottom">
  <div class="d-grid gap-2">
  <%= link_to "Log IN", new_user_session_path, class: "btn btn-primary" %>
  <%= link_to "Sign UP", new_user_registration_path, class: "btn btn-primary" %>
  </div>
</div>