<div class="signup-navbar d-flex align-items-center justify-content-between bg-primary bg-gradient" style="width: 100%; height: 3rem; margin-bottom: 50px;">
    <%= link_to "Back", "javascript:history.back()", class: "sign-out-btn text-white text-decoration-none" %>
    <h2 class="signup-nav-title text-white text-sm">Login</h2>

    <div class="actions">
        <%= f.submit "Log in", class: "signup-nav-signup-btn" %>
    </div>

</div>
