.signup-parent {
    padding-top: 5vh;
}

.signup-navbar {
    background-color: #3778c2;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 12vh;
    padding: 0 5px;
}
.signup-nav-back-btn {
    color: #fff;
}
.signup-nav-title {
    font-size: 16px;
    margin-bottom: -0.4rem;
}

.signup-nav-signup-btn {
    background: none;
    border: none;
    color: #fff;
}

.signup-field {
    outline: none;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #888;
    padding: 1rem;
    background: #fff;
}
.signup-field:focus {
    outline: none;
}